<h1>Seja bem vindo a Gem Adminstrate</h1>
<% if !user_signed_in? %>
  <div class="container-btn">
    <%= link_to 'Sign in', new_user_session_path, class: 'btn' %>
    <%= link_to 'Sign up', new_user_registration_path, class: 'btn-2' %>
  </div>
<% else %>
  <div class="container-btn">
    <%= link_to 'Adminstrate', admin_products_path, class: 'btn' %>
  </div>
<% end %>
