* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  color: #3c3c3c;
  background-color: #FFDEE9;
  background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
  height: 100vh;
}

h1 {
  font-size: 2.5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #303030;
  color: #fff;
}

main {
  max-width: 40%;
  margin: 5rem auto;
  text-align: center;

}

main .container-btn {
  margin-top: 2rem;
}

.btn {
  font-size: 14px;
  color: #303030;
  letter-spacing: 1.2px;
  font-weight: 600;
  text-decoration: none;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  transition: all 0.2s;
}

.btn-2 {
  font-size: 14px;
  color: #303030;
  letter-spacing: 1.2px;
  font-weight: 600;
  padding: 0.5rem 2rem;
  transition: all 0.2s;
}

.btn-3 {
  font-size: 14px;
  color: #303030;
  letter-spacing: 1.2px;
  font-weight: 600;
  padding: 0.3rem 1rem;
  cursor: pointer;
}

.container-products {
  margin-top: 8rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.title-product {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
  background-color: #303030;
  color: #fff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.price-product {
  font-weight: 700;
  letter-spacing: 1.3px;
  font-size: 1.1rem;
}

.description-product {
  margin-top: 0.5rem;
  font-size: 0.8rem;
}

.card-product {
  width: 200px;
  padding-bottom: 1rem;
  box-shadow: 3px 3px 10px 3px #dddddd;
}

.container-img {
  margin-top: 1rem;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.container-img img {
  width: 100%;
}